<footer class="bg-secondary mt-3">
    <div class="row">
      <div class="col-2 mt-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Dashboard</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Game</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Rating</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
        </ul>
      </div>

      <div class="col-2 mt-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Dashboard</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Game</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Rating</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
        </ul>
      </div>

      <div class="col-2 mt-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Dashboard</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Game</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Add Rating</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5 class="mt-4">Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100">
            <label for="newsletter1" class="visually-hidden text-light">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary ml-3" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between border-top">
      <p class="text-light">© 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-light" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>