appsettings.json
bin/
obj/GameNews.csproj.nuget.g.props
obj/GameNews.csproj.nuget.dgspec.json
obj/GameNews.csproj.nuget.dgspec.json
obj/GameNews.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/GameNews.assets.cache
obj/Debug/net5.0/GameNews.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/GameNews.dll
obj/Debug/net5.0/GameNews.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/GameNews.genruntimeconfig.cache
obj/Debug/net5.0/GameNews.pdb
obj/Debug/net5.0/GameNews.RazorCoreGenerate.cache
obj/Debug/net5.0/GameNews.Views.dll
obj/Debug/net5.0/GameNews.Views.pdb
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/Create.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/Dashboard.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/Details.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/EditGame.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/ReviewGame.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Game/ViewGame.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/_Login.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/_Register.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Footer.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
