@model Game

<h1 class="text-center py-4">Add Game to Game Base</h1>
<hr />


<div class="container">
<div class="row">
<div class="col-6">
  <img class="img-fluid" src="https://cdn.discordapp.com/attachments/859495721856925779/880289419083542528/erik-mclean-42UM-xVrKko-unsplash.jpg"/>
</div>
<div class="col-6">
<div class="border border-dark rounded-left m-3 shadow p-3 mb-2 bg-primary rounded">
<form asp-controller="Game" asp-action="Create" method="POST">
<h2 class="text-center my-3">Create a game</h2>
  <div class="form-group">
    <label asp-for="Name"></label>
    <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
    <input asp-for="Name" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="ImgUrl">Image URL</label>
    <span asp-validation-for="ImgUrl" class="text-danger font-weight-bold"></span>
    <input asp-for="ImgUrl" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="Description">Description</label>
    <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
    <textarea asp-for="Description" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label asp-for="Creator">Creator</label>
    <span asp-validation-for="Creator" class="text-danger font-weight-bold"></span>
    <input asp-for="Creator" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="Genres">Genre</label>
    <span asp-validation-for="Genres" class="text-danger font-weight-bold"></span>
    <select asp-for="Genres" class="form-control">
      <option value="FPS">FPS</option>
      <option value="Puzzle">Puzzle</option>
      <option value="RTS">RTS</option>
      <option value="RPG">RPG</option>
      <option value="Metroidvania">Metroidvania</option>
      <option value="Action">Action</option>
      <option value="Sports">Sports</option>
      <option value="Simulation">Simulation</option>
    </select>
  </div>

  <div class="form-group">
    <label asp-for="Platforms">Platform</label>
    <span asp-validation-for="Platforms" class="text-danger font-weight-bold"></span>
    <select asp-for="Platforms" class="form-control">
      <option value="PC">PC</option>
      <option value="Sony">Sony</option>
      <option value="Microsoft">Microsoft</option>
      <option value="Nintendo">Nintendo</option>
      <option value="Other">Other</option>
    </select>
  </div>

        <button class="btn btn-success">Register</button>
      </form>
      </div>
    </div>
  </div>
</div>