<h1 class="text-center">Like The Game </h1>
<div class="container pt-5">
  <div class="card mb-3" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Game title</h5>
        <p class="card-text">CHART WILL GO HERE</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Game title</h5>
        <p class="card-text">CHART WILL GO HERE</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 740px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Game title</h5>
        <p class="card-text">CHART WILL GO HERE</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="container "> 
<div class="row pt 5">
  <div class="col-4"> 

    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">   
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>

    <div class="col-4"> 
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>


    <div class="col-4"> 
    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>

  </div>
  </div>
</div>
</div>