@model Game

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <div class="card-header bg-dark text-light">
      <div>
        
      </div>
      <div>Genres:</div>
      <ul>

      </ul>
    </div>
    <div class="card-body">
</div>