@model GameReview

<h2 class="text-left font-italic">Review</h2>
<hr />
<div class="w-50 text-left">
  <form asp-controller="Game" asp-action="AddReview" method="POST">

    <div class=" d-flex justify-content-left">

      <div class="form-group w-auto mr-4">
        <label asp-for="GameRating">Rating 1 - 10</label><br>
        <span class="text-danger font-weight-bold" asp-validation-for="GameRating"></span>
        <select asp-for="GameRating" class="form-control">
          <option value="1">1 / 10 <span class="font-italic">(worst)</span></option>
          <option value="2">2 / 10</option>
          <option value="3">3 / 10</option>
          <option value="4">4 / 10</option>
          <option value="5">5 / 10</option>
          <option value="6">6 / 10</option>
          <option value="7">7 / 10</option>
          <option value="8">8 / 10</option>
          <option value="9">9 / 10</option>
          <option value="10">10 / 10 <span class="font-italic">(best)</span></option>
        </select>
      </div>

      <div class="form-group w-auto">
        <label asp-for="Platform">System</label><br>
        <span asp-validation-for="Platform" class="text-danger font-weight-bold"></span>
        <select asp-for="Platform" class="form-control">
          <option value="PC">PC</option>
          <option value="Sony">Sony</option>
          <option value="Microsoft">Microsoft</option>
          <option value="Nintendo">Nintendo</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label asp-for="Review"></label>
      <span class="text-danger font-weight-bold" asp-validation-for="Review"></span>
      <textarea rows="10"  style="height: 100%;" class="form-control" asp-for="Review"></textarea>
    </div>

    <button class="btn btn-outline-success">Submit</button>
  </form>
</div>
