@{
    ViewData["Title"] = "Home Page";
    var client = new HttpClient();
    var request = new HttpRequestMessage
    {
        Method = HttpMethod.Get,
        RequestUri = new Uri("https://rawg-video-games-database.p.rapidapi.com/games/%7Bgame_pk%7D"),
        Headers =
{
{ "x-rapidapi-host", "rawg-video-games-database.p.rapidapi.com" },
{ "x-rapidapi-key", "ea3628689bmshbe5095a0c78c90ap19243ajsn12b4e221879a" },
},
    };
    using (var response = await client.SendAsync(request))
    {
        response.EnsureSuccessStatusCode();
        var body = await response.Content.ReadAsStringAsync();
        Console.WriteLine(body);
    }
}

<div class="text-center">
    <h1 class="display-4">Good Morning Fellow Wambats!</h1>


</div>
